<div class="page-header">
	<h1>Listing teams</h1>
</div>

<table class="table table-striped">
	<thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
	</thead>
	<tbody>
<% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.team_name, team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
	</tbody>
</table>

<div class="page-actions">
<%= link_to 'New Team', new_team_path, :class => 'btn btn-primary' %>
</div>